:root {
  --primary-color: #e15334;
  --secondary-color: #f1efe9;
  --third-color: #161b33;
  --heading-font: "Pridi", serif;
  --default-font: "Poppins", serif;
}

body {
  color: var(--primary-color);
  background: var(--secondary-color);
  font-family: var(--default-font);
  font-weight: 400;
  font-style: normal;
  font-size: 17px;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--heading-font);
}

.custom-navbar {
  background: var(--secondary-color) !important;
  padding: 30px 160px;
}

.custom-navbar a {
  color: var(--primary-color);
  margin: 0 25px;
  font-size: 20px;
}

header .hero {
  padding: 260px 160px 300px;
}

header .hero h1 {
  font-weight: 600;
  font-style: normal;
  font-size: 84px;
  line-height: 1;
}

header .hero .name {
  font-size: 171px;
}

header .hero .surname {
  font-size: 108px;
}

h2 {
  font-size: 34px;
  font-weight: 200;
  font-style: normal;
  margin-bottom: 30px;
}

header .hero .button {
  background: var(--third-color);
  color: #fff;
  padding: 15px 28px;
  border-radius: 10px;
  border: 2px solid var(--third-color);
  font-size: 18px;
  transition: all 250ms ease-in-out;
  margin: 5px;
}

header .hero .button:hover {
  background: var(--secondary-color);
  color: var(--third-color);
  border: 2px solid var(--third-color);
  padding: 15px 28px;
  border-radius: 10px;
}

.container {
  max-width: 1100px;
}

section {
  margin-bottom: 80px;
  scroll-margin-top: 120px;
}

h3 {
  text-align: right;
  font-size: 40px;
  position: relative;
  padding-top: 15px;
  margin-bottom: 60px;
}

h3::before {
  content: "";
  display: block;
  width: 500px;
  height: 2px;
  background-color: var(--primary-color);
  position: absolute;
  top: 0;
  right: 0;
}

.projects-section .projects-intro {
  margin-bottom: 60px;
  line-height: 1.8;
}

.project {
  position: relative;
  width: 500px;
  height: 400px;
  overflow: hidden;
}

.project img {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 0.3s ease;
}

.project .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--primary-color);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 15px;
  opacity: 0;
  transition: opacity 250ms ease-in-out;
  border-radius: 10px;
  padding: 35px;
}

.project.hover img {
  opacity: 0;
}

.project.hover .overlay {
  opacity: 1;
}

.project .project-description {
  line-height: 1.8;
  margin-top: 20px;
}

.project .project-button {
  background: var(--third-color);
  color: #fff;
  padding: 10px 20px;
  border-radius: 10px;
  border: 2px solid var(--third-color);
}
.project .project-button:hover {
  background: var(--primary-color);
  color: var(--third-color);
  padding: 10px 20px;
  border-radius: 10px;
  border: 2px solid var(--third-color);
}

.about-section img {
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
}

.about-section .about-intro {
  margin: 30px;
}

.about-section ul {
  border-left: 2px solid var(--primary-color);
  padding-left: 40px;
  margin-left: 55px;
  margin-top: 50px;
}

.skills-section .tools {
  padding: 20px;
  margin: 0 auto;
}

.skills-section .skills-list {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
}

.skills-section .skills-list li {
  padding: 10px;
}

.skills-section .skills-list i {
  font-size: 50px;
}

.skills-section .skills {
  padding: 30px 20px;
  border: 2px solid var(--primary-color);
  border-radius: 10px;
  margin: 0 15px 60px;
  height: 350px;
}

.skills-section .skills ul {
  list-style: none;
  padding: 30px auto 30px 80px;
}

.skills-section .studies {
  display: flex;
  justify-content: center;
  gap: 30px;
  line-height: 2.5;
}

.skills-section .studies li {
  list-style: none;
  padding: 0;
}

.skills-section .studies-titles {
  border-right: 2px solid var(--primary-color);
  padding-right: 20px;
}

.certifications .shecodes-certification {
  margin: 20px 15px;
  text-align: center;
}

.certifications .shecodes-certification img {
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
  margin-top: 10px;
  transition: transform 0.3s ease-in-out;
}

.certifications .shecodes-certification img:hover {
  transform: scale(1.1);
}

/* ------------ footer ------------ */

footer {
  text-align: center;
}

footer h4 {
  font-size: 30px;
}
footer ul {
  padding: 0;
}
footer .social-icons li {
  list-style: none;
}
footer .social-icons i {
  font-size: 35px;
  padding: 10px;
  transition: all 250ms ease-in-out;

  color: var(--primary-color);
}

footer .social-icons i:hover {
  color: var(--third-color);
}

footer .contact-section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
}

footer .email-address {
  font-size: 17px;
  font-weight: 600;
}
footer .email-address a {
  text-decoration: none;
  color: var(--primary-color);
}

footer .copy-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 18px;
  color: var(--primary-color);
}

@media (max-width: 960px) {
  .custom-navbar {
    padding: 10px;
  }

  header .hero {
    padding: 160px 80px 150px;
    text-align: center;
  }

  header .hero h1 {
    font-size: 31px;
  }

  header .hero .name {
    font-size: 63px;
  }

  header .hero .surname {
    font-size: 40px;
  }

  header .hero h2 {
    font-size: 20px;
  }

  header .hero .button {
    font-size: 12px;
    max-width: 200px;
    display: block;
    margin: 0 auto 20px;
  }

  .project {
    margin-bottom: 0 auto 20px;
    width: 300px;
    height: 200px;
  }
}
